<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    
    <div class="text-center p-3" style="background-color: rgb(224, 196, 12);">
      <center><p class="text-body">This data investigation looks at where and how, in terms of volume, NYC yellow taxi trips have evolved from 2016-2022.</p></center>
      <a class="text-body" href="https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page">NYC TLC</a>
      <a class="text-body" href="https://data.cityofnewyork.us/browse?q=trip+data&sortBy=alpha&utf8=%E2%9C%93&page=2">NYC OpenData</a>
    </div>
    <!-- Copyright -->
  </footer>